<!DOCTYPE html>
<html lang="tr" ng-app="bilsoftQuiz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BilSoft Eğitimleri ve Testi</title>
    <!-- Bootstrap css bizim css'imiz -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <div class="page-header">
            <h1>BilSoft Test</h1>
            <h3>

                <strong>BİLSOFT TEST</strong>
                'e başlamadan önce eğitimleri bitirmenizi öneririz
            </h3>
        </div>

        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive || list.quizMetrics.resultsActive">

            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Ara..." class="form-control" ng-model="list.search">
                <button class="btn btn-warning pull-right" ng-click="list.activateQuiz()">
                    <strong>Teste Başla</strong>
                </button>
            </form>

            <div class="row">

                <div class="col-sm-6" ng-repeat="egitim in list.data | filter:list.search">

                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">

                                <img ng-src="{{egitim.image_url}}" class="img-rounded img-responsive well-image">
                            </div>
                            <div class="col-md-6">

                                <h4>{{egitim.type}}</h4>



                                <button class="btn btn-primary pull-right" data-toggle="modal"
                                    data-target="#egitim-info" ng-click="list.changeActiveEgitim(egitim)">Daha
                                    Fazla</button>
                            </div>
                        </div><!-- row -->
                    </div><!-- well -->
                </div><!-- col-xs-6 -->
            </div>

            <!-- modal popup -->
            <div class="modal" id="egitim-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h2>{{list.activeEgitim.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8" id="video">
                                    <iframe id="video" width="560" height="315"
                                        ng-src="{{list.activeEgitim.egitim_url}}" allow="encrypted-media"></iframe>
                                </div>
                            </div>
                            <div class="row top-buffer">

                                <div class="col-xs-12 top-buffer">

                                    <p>{{list.activeEgitim.description}}</p>
                                    <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- List Controller -->


        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
            <div class="row">
                <div class="col-xs-9">
                    <h2>İlerleme:</h2>
                    <div class="btn-toolbar">

                        <button class="btn" ng-repeat="question in quiz.dataService.quizQuestions"
                            ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null}"
                            ng-click="quiz.setActiveQuestion($index)">

                            <span class="glyphicon"
                                ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-3" style="text-align: center;">
                    <div class="row">
                        <h3>Gösterim:</h3>
                        <div class="col-xs-6">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Cevaplandı</p>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Cevaplanmadı</p>
                        </div>
                    </div>
                </div>
            </div><!-- ilerleme alanı sonu -->

            <div class="row">
                <div class="alert alert-danger" ng-show="quiz.error">
                    Hata! Tüm soruları cevaplamadınız!
                    <button class="close" ng-click="quiz.error = false">&times</button>
                </div>

                <div class="well well-sm" ng-hide="quiz.finalise">
                    <div class="row">
                        <div class="col-xs-12">






                            <div class="row"
                                ng-if="quiz.dataService.quizQuestions[quiz.activeQuestion].type === 'text'">
                                <div ng-repeat="video in quiz.dataService.video[quiz.activeQuestion].adres"
                                    style="text-align:center;">
                                    <video width="560" height="315" controls>
                                        <source src="{{video}}" type='video/mp4'>
                                        <source src="{{video}}" type="video/ogg">

                                    </video>

                                </div>
                                <br><br>
                                <div id="Baslik">
                                    <h3>Soru:</h3>
                                    <br>
                                    <h4>{{quiz.activeQuestion+1 + ". " +
                                        quiz.dataService.quizQuestions[quiz.activeQuestion].text}}</h4>

                                </div>
                                <br>
                                <div class="col-sm-6"
                                    ng-repeat="answer in quiz.dataService.quizQuestions[quiz.activeQuestion].possibilities">

                                    <h4 class="answer"
                                        ng-class="{'bg-info': $index === quiz.dataService.quizQuestions[quiz.activeQuestion].selected}"
                                        ng-click="quiz.selectAnswer($index)">
                                        {{answer.answer}}
                                    </h4>
                                </div>
                            </div>




                        </div>
                    </div>

                    <button class="btn btn-warning" ng-click="quiz.questionAnswered()">Devam</button>
                </div>


                <div class="well well-sm" ng-show="quiz.finalise">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Cevaplarınızı göndermek istediğinizden emin misiniz?</h3>
                            <button class="btn btn-success" ng-click="quiz.finaliseAnswers()">Evet</button>
                            <button class="btn btn-danger" ng-click="quiz.finalise = false">Hayır</button>
                        </div>
                    </div>
                </div>


            </div><!-- question row -->
        </div><!-- quiz controller -->


        <div ng-controller="resultsCtrl as results" ng-show="results.quizMetrics.resultsActive">
            <div class="row">
                <div class="col-xs-9">
                    <h2>Sonuçlar:</h2>
                    <div class="btn-toolbar">

                        <button class="btn" ng-repeat="question in results.dataService.quizQuestions"
                            ng-class="{'btn-success': question.correct, 'btn-danger': !question.correct}"
                            ng-click="results.setActiveQuestion($index)">
                            <!-- ikonları şarta göre yerleştirme -->
                            <!-- ikonları koyma şartı -->
                            <span class="glyphicon"
                                ng-class="{'glyphicon-ok': question.correct, 'glyphicon-remove': !question.correct}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-3" style="text-align: center;">
                    <div class="row">
                        <h3>Gösterim:</h3>
                        <div class="col-sm-6">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <p>Doğru</p>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <p>Yanlış</p>
                        </div>
                    </div>
                </div>
            </div><!-- row -->

            <!-- puan ve yüzde hesaplama -->
            <div class="row">
                <div class="col-xs-12 top-buffer">

                    <h2>Puanın: {{results.quizMetrics.numCorrect}} / {{results.dataService.quizQuestions.length}}</h2>
                    <!-- puan yüzdesi hesaplama -->
                    <!--2 ondalık basamak gösterilmesini sağlar -->
                    <h2><strong>{{results.calculatePerc() | number:2}}%</strong></h2>
                </div>
            </div>

            <div class="row">
                <h3>Sorular:</h3>
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-xs-12">

                            <h4>{{results.activeQuestion+1 +".
                                "+results.dataService.quizQuestions[results.activeQuestion].text}}</h4>
                            <div class="row"
                                ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'text'">
                                <!-- ng-repeat tekrar kullanıyoruz-->
                                <div class="col-sm-6"
                                    ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">
                                    <h4 class="answer" ng-class="results.getAnswerClass($index)">
                                        {{answer.answer}}

                                        <p class="pull-right"
                                            ng-show="$index !== results.quizMetrics.correctAnswers[results.activeQuestion] && $index === results.dataService.quizQuestions[results.activeQuestion].selected">
                                            Senin Cevabın</p>
                                        <p class="pull-right"
                                            ng-show="$index === results.quizMetrics.correctAnswers[results.activeQuestion]">
                                            Doğru Cevap</p>
                                    </h4>
                                </div>
                            </div><!-- row -->

                            <!-- ng-if -->
                            <div class="row"
                                ng-if="results.dataService.quizQuestions[results.activeQuestion].type === 'image'">
                                <!-- ng-repeat -->
                                <div class="col-sm-6"
                                    ng-repeat="answer in results.dataService.quizQuestions[results.activeQuestion].possibilities">

                                    <div class="image-answer" ng-class="results.getAnswerClass($index)">
                                        <img ng-src="{{answer.answer}}">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div><!-- well -->
                <!-- resetleme -->
                <button class="btn btn-primary btn-lg" ng-click="results.reset()">Eğitime Dön</button>
            </div>
        </div>



    </div>

    <!-- 3. parti js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <!-- kendi scriptlerimiz -->
    <script src="js/app.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/controllers/results.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataservice.js"></script>

</body>

</html>